@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    font-family: 'Montserrat', sans-serif;
    width: 100% !important;
    background-color: #fff !important;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
}

.gallery {
    font-family: 'Handlee', cursive !important;
    margin: 5rem 1rem;
}

.gallery hr {
    width: 25% !important;
    margin: auto;
}

.brand-img {
    height: 100px;
    width: 100px;
}

.header a {
    color: white !important;
}

.navbar-brand {
    font-weight: bold;
    color: grey !important;
}



/* 
.navbar-nav .nav-link {
    color: #00394f !important;
    font-weight: 400 !important;
} */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #17a2b8 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #00394f !important;
    font-size: large !important;
    font-weight: 600 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #17a2b8 !important;
}




/* Header */
.header {
    font-family: 'Handlee', cursive !important;
    /* background-color: #17a2b8 !important; */
    background-color: #4E944F !important;

    text-align: center !important;
    height: 90vh;
    width: 100% !important;
    padding: 10rem 0;
}

.header h1 {
    font-weight: bolder !important;
}

.header-btn {
    padding: 5rem !important;
}

.facilities {
    font-family: 'Handlee', cursive !important;
}


/*About*/
#about {
    font-family: 'Handlee', cursive !important;
    width: 100% !important;
    padding: 2rem 0;
}

#about h1 {
    text-align: center;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #4E944F;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    font-family: 'Handlee', cursive !important;
    margin-top: 1rem;
}

a {
    text-decoration: none !important;
    color: black !important;
    font-size: larger;

}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: black 1px solid !important;
}


.box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#footer .social-links a:hover {
    background: #449d5b;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

/* 
#contact {
    text-align: center;
    font-family: 'Handlee', cursive !important;
    padding: 1rem;
    background-color: #17a2b8;

}

#contact p {
    padding: 1rem;
} */


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {

    font-family: 'Handlee', cursive !important;

}

.contact h1 {
    text-align: center;
    margin-bottom: 20px !important;

}

.contact .info {
    border-top: 3px solid #00394f;
    border-bottom: 3px solid #00394f;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #00394f;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555555;
}

.contact .info .social-links {
    padding-left: 60px;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #00394f !important;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #00394f;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #00394f;
    border-bottom: 3px solid #00394f;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(53, 25, 25, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #00394f;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #00394f;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #00394f;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #00394f;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #6ec083;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Media Queries */
/* PC SCREEN */
@media screen and (min-width: 1024px) {
    .navbar-brand {
        font-size: 35px !important;
    }

}


/* Tablet Screen */
@media (min-width: 769px) and (max-width: 1023px) {
    .navbar-brand {
        font-size: 30px !important;
    }
}


/* Mobile Screen */
@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 20px !important;
    }

    iframe {
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        justify-content: center;
        text-align: center;
    }


}